
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game Shop | AllOrders</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="container">

        <div class="header">
            <h2>List of Games</h2>
        </div>

        <form class="myform" id="myform">

            <button id="Orders">Orders</button>
            <div class="container">
                <table id="OrdersTable">
                </table>
            </div>

        </form>
    </div>
    <script src="~/Extras/jQuery/ListOfOrders.js"></script>
</body>
</html>
